body {
    margin-bottom: 10px;
    font-family: "Share Tech Mono" !important;
    background-color: #d3d3d3 !important;
    padding-right: 10px !important;
    padding-left: 10px !important;
    color: #333333 !important;
}

.hp-button {
    background: #e0e0e0; /* Soft rubbery button color */
    color: #333333; /* Dark engraved text */
    font-family: "Share Tech Mono"; /* Industrial style font */
    font-size: 16px;
    padding: 5px 10px;
    border: 2px solid #b0b0b0; /* Slight border for structure */
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    box-shadow: inset -2px -2px 5px rgba(255, 255, 255, 0.5),
                inset 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.hp-button:hover {
    background: #d4d4d4; /* Slightly darker on hover */
}

.hp-button:active {
    box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.3);
    background: #c2c2c2;
}

.hp-button-loading {
    background: #f4b400;
    color: #333333; 
    font-family: "Share Tech Mono"; 
    font-size: 16px;
    padding: 5px 10px;
    border: 2px solid #dda201;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    box-shadow: inset -2px -2px 5px #dda201,
                inset 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.hp-button-loading:hover {
    opacity: 0.9;
}

.hp-button-success {
    background: #00cc99; 
    color: #333333; 
    font-family: "Share Tech Mono"; 
    font-size: 16px;
    padding: 5px 10px;
    border: 2px solid #01bb8d;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    box-shadow: inset -2px -2px 5px #01bb8d,
                inset 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.hp-button-success:hover {
    opacity: 0.9;
}

.hp-button-fail {
    background: #ff5f5f; 
    color: #333333;
    font-family: "Share Tech Mono"; 
    font-size: 16px;
    padding: 5px 10px;
    border: 2px solid #d35252;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    box-shadow: inset -2px -2px 5px #d35252,
                inset 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.hp-button-fail {
    opacity: 0.9;
}

.checkboxes input[type="checkbox"] {
    transform: scale(2);
    margin-right: 10px !important;
    /* vertical-align: middle !important; */
    font-size: 18px !important;
}

.checkboxes input[type="checkbox"]:checked {
    accent-color: #ffb400;
}

.radio label {
    vertical-align: middle !important;
}

.radio input[type="radio"] {
    accent-color: #ffb400;
}

.rc-slider-track {
    background-color: #333333 !important;
}

.rc-slider-handle {
    border-color: #333333 !important;
}

.rc-slider-handle:active {
    box-shadow: 0 0 5px rgb(255, 0, 0);
}